<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>589215135041-ctr0issm06sumphu7vb1pmtr19d0k63k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589215135041-ctr0issm06sumphu7vb1pmtr19d0k63k</string>
	<key>API_KEY</key>
	<string>AIzaSyAeACFegqX8ouJ70nx3CYU7zljErWUtmsg</string>
	<key>GCM_SENDER_ID</key>
	<string>589215135041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>schedulr.ios-schedulr</string>
	<key>PROJECT_ID</key>
	<string>schedulr-b532a</string>
	<key>STORAGE_BUCKET</key>
	<string>schedulr-b532a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589215135041:ios:aca41de6c78cec62</string>
	<key>DATABASE_URL</key>
	<string>https://schedulr-b532a.firebaseio.com</string>
</dict>
</plist>